{% extends "bootstrap/base.html" %}
{#导入flask_bootstrap样式#}
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}"
      type="image/x-icon">
<link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}"
      type="image/x-icon">
<meta name="referrer" content="never">
{% endblock %}
{% block title %}链家房产数据分析平台{% endblock %}
{% block navbar %}
<div class="navbar navbar-brand" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">链家房产数据分析平台</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/newhouse">新房</a></li>
                <li><a href="/ershoufang">二手房</a></li>
                <li><a href="/rent">租房</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}