{% extends "base.html" %}
{% block title %} 链家房产数据分析平台 {% endblock %}
{% block page_content %}
<style>
    .container {
        font-size: 16px;
    }

    ul {
        float: left;
    }

    .ershoufang-li {
        list-style: none;
        border: 1px solid gray;
        width: 500px;
        text-align: center;
        margin: 20px 0 0 20px;
        display: block;
        float: left;
        height: 480px;
    }

    .ershoufang {
        font-size: 20px;
        height: 500px;
    }

    .search-result {
        font-size: 20px;
        text-align: center;
        font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    }

    .house-img {
        width: 300px;
        margin: 0 auto;
    }

    .header-section {
        margin: 0 auto;
        width: 90%;
        font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
        font-size: 30px;
        text-align: -moz-center;
    }

    .search-form {
        margin: 0 auto;
        font-size: 25px;
    }

    .highlight {
        color: deeppink;
        font-size: 16px;
    }

    .alert-warning {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 20px;
        margin: auto;
    }

    .cm-keyword {
        color: orangered;
    }

    .tag {
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        color: purple;
    }

    .newhouse {
        width: 510px;
        float: left;
        list-style: none;
        text-align: center;
        margin: 20px 0 0 20px;
        border: 1px dashed lightgray;
        height: 550px;
    }

    .rent {
        width: 500px;
        float: left;
        list-style: none;
        text-align: center;
        margin: 20px 0 0 20px;
        border: 3px double lightgray;
        height: 480px;
    }

    .title {
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
    }

    .huxing {
        font-size: 20px;
        font-family: "Microsoft YaHei";
    }

    .location {
        font-size: 18px;
        color: darkviolet;
        margin-top: 10px;
    }

    .xiaoqu {
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 18px;
        color: dodgerblue;
    }

    .cm-number {
        color: red;
    }

    .calendar-time {
        font-family: Monospaced;
    }

    .result-header {
        font-family: "Microsoft Himalaya";
        font-size: 20px;
        width: 100%;
        list-style: none;
        margin-top: 10px;
    }
</style>
<div class="header-section">
    <p>欢迎使用链家房产数据分析可视化平台!</p>
    <hr>
</div>
<div class="alert-warning">
    {% if search %}
    <span> Hello,你搜索的是 <label class="cm-keyword">{{ search }}</label>!</span>
    {% endif %}
    <p></p>
</div>
<div class="search-form">
    {{ wtf.quick_form(form) }}
</div>
{% if search_flag %}
<div class="search-result">
    <span>您好，以下是搜索结果:</span>
    <hr>
</div>
{% endif %}
<div>

    <ul>
        <!--        二手房查询结果   -->
        {% if search_result['ershoufang']%}
        <li class="result-header">
            <div class="search-result">
                <span class="cm-keyword">{{ search }}</span>
                <span class="search-result">相关的二手房数据为:</span>
                <hr>
            </div>
        </li>
        {% endif %}
        {% for each in search_result['ershoufang'] %}
        <li class="ershoufang-li">
            <div class="ershoufang">
                <div class="title">
                    <a href="{{ each['house_url'] }}">{{ each['title'] }}</a>
                </div>
                <div class="house-img">
                    <a href="{{ each['house_url'] }}"><img src="{{ each['img_url'] }}" alt=""></a>
                </div>
                <div class="location">
                    <a href="{{ each['position_url']  }}">{{ each['position'] }}-</a>
                    <span classs="position-info">{{each['position_info']}}</span></a>
                </div>
                <div class="xiaoqu">
                    <a href="{{ each['xiaoqu_url']}}">{{ each['xiaoqu_name']}}</a>
                </div>
                <div class="huxing">
                    <span class="highlight">户型:&nbsp;&nbsp;</span>
                    {% for huxing in each['huxing'] %}
                    <span>{{ huxing }}</span>
                    {% endfor %}
                </div>
                <div class="price">
                    <span class="highlight">每平米价格:&nbsp;&nbsp;</span>
                    <span class="cm-number">{{ each['unit_price'] }}</span>
                    <span class="square-price-desc">元/m²</span>
                </div>
                <div class="price">
                    <span class="highlight">总价:&nbsp;&nbsp;</span>
                    <span class="cm-number">{{ each['total_price'] }}</span>
                    <span>万/套</span>
                </div>
                <div class="crawl_time">
                    <span class="highlight">爬取时间:&nbsp;&nbsp;</span>
                    <span class="calendar-time">{{each['crawl_time']}}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <ul>
        <!--        新房查询结果  -->
        {% if search_result['newhouse']%}
        <li class="result-header">
            <div class="search-result">
                <span class="cm-keyword">{{ search }}</span>
                <span class="search-result">相关的新房数据为:</span>
                <hr>
            </div>
        </li>
        {% endif %}
        {% for each in search_result['newhouse'] %}
        <li class="newhouse">
            <div class="title">
                <a href="{{ each['loupan_url']}}">{{ each['loupan']}}</a>
            </div>
            <div>
                <a href="{{ each['loupan_url']}}">
                    <img class="house-img" src="{{each['img_url']}}"
                         alt="{{ each['loupan']}}"></a>
            </div>
            {% if each['wuye_type']!='' %}
            <div class="wuyetype">
                <span class="highlight">物业类型:&nbsp;&nbsp;</span>
                <span>{{ each['wuye_type']}}</span>
            </div>
            {% endif %}
            {% if each['location'] %}
            <div class="location">
                {% for location in each['location'] %}
                <span>{{ location}}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% if each['sale_status'] !='' %}
            <div class="sale-status">
                <span class="highlight">销售状态:&nbsp;&nbsp;</span>
                <span>{{ each['sale_status']}}</span>
            </div>
            {% endif %}
            {% if each['huxing']!='' %}
            <div class="huxing">
                <span class="highlight">户型:&nbsp;&nbsp;</span>
                <span>{{ each['huxing'] }}</span>
            </div>
            {% endif %}
            {% if each['area'] %}
            <div class="area">
                <span class="highlight">面积范围:&nbsp;&nbsp;</span><span>{{ each['area']}}</span>
            </div>
            {% endif %}
            <div class="price">
                <span class="highlight">每平米价格:&nbsp;&nbsp;</span>
                <span class="cm-number">{{each['main_price']}}</span>
                <span class="square-price-desc">{{each['main_price_desc']}}</span>
            </div>
            <div class="price">
                <span class="highlight">总价:&nbsp;&nbsp;</span>
                <span class="cm-number">{{ each['second_price'] }}</span>
                <span>万/套</span>
            </div>
            {% if each['tag'] %}
            <div class="tag">
                {% for tag in each['tag'] %}
                <span>{{ tag}}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="crawl_time">
                <span class="highlight">爬取时间:&nbsp;&nbsp;</span>
                <span class="calendar-time">{{each['crawl_time']}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    <ul>
        <!--        租房查询结果  -->
        {% if search_result['rent']%}
        <li class="result-header">
            <div class="search-result">
                <span class="cm-keyword">{{ search }}</span>
                <span class="search-result">相关的租房数据为:</span>
                <hr>
            </div>
        </li>
        {% endif %}
        {% for each in search_result['rent'] %}
        <li class="rent">
            <div class="title">
                <a href="{{ each['zufang_url']}}">{{ each['house']}}</a>
            </div>
            <div>
                <a href="{{ each['zufang_url']}}"><img class="house-img" src="{{each['img_url']}}"
                                                       alt="{{ each['house']}}"></a>
            </div>
            <div class="rent-brand">
                <span class="highlight">房源:&nbsp;&nbsp;</span>
                <span>{{ each['brand']}}</span>
            </div>
            <div class="location">
                <span class="highlight">位置:&nbsp;&nbsp;</span>
                {% for location in each['district_multi'] %}
                <span>{{ location}}</span>
                {% endfor %}
            </div>
            <div class="price">
                <span class="highlight">价格:&nbsp;&nbsp;</span>
                <span class="cm-number">{{each['price']}}</span>
            </div>
            {% if each['tag'] %}
            <div class="tag">
                {% for tag in each['tag'] %}
                <span>{{ tag}}</span>
                {% endfor%}
            </div>
            {% endif %}
            <div class="crawl_time">
                <span class="highlight">爬取时间:&nbsp;&nbsp;</span>
                <span class="calendar-time">{{ each['crawl_time'] }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}