<style>
    .accordion-heading {
        margin: 5px;
        font-size: 25px;
        font-family: "Microsoft YaHei";
    }

    .result {
        border: 1px lightgray;
        text-align: center;
        font-size: 15px;
    }

    .result span {
        float: left;
        display: block;
        width: 100%;
    }

    li {
        list-style: none;
    }

    .analysis {
        font-family: "Microsoft YaHei";
        font-size: 25px;
        color: deeppink;
    }
</style>
{% extends "base.html" %}
{% block title %} 链家房产数据分析 - 租房 {% endblock %}
{% block page_content %}
<div class="accordion-heading">
    <label>你好，这里是租房分析中心</label>
    <hr>
</div>
{{ wtf.quick_form(form) }}
{% if city %}
<span>{{ city}}</span>
{% endif %}
{% if analysis %}
<span>{{ analysis}}</span>
{% endif %}

<div class="content">
    <ul>
        <li>
            <div class="img-responsive">
                {% if is_submit %}
                <span class="analysis">您好，您选择的统计结果如下:</span>
                <p>
                <hr>
                </p>
                {% endif %}
                {% for each in data %}
                <div class="result">
                    <img src="{{ each }}" width="1000px" height="800px">
                </div>
                {% endfor %}
            </div>
        </li>
    </ul>
</div>
{% endblock %}