<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li class="clear LOGCLICKDATA"><a class="noresultRecommend img "
                                      href="https://zz.lianjia.com/ershoufang/104102110958.html" target="_blank"
                                      data-log_index="2" data-el="ershoufang" data-housecode="104102110958"
                                      data-is_focus="" data-sl=""><!-- 热推标签、埋点 --><img
            src="https://s1.ljcdn.com/feroot/pc/asset/img/vr/vrlogo.png?_v=20190429154458738" class="vr_item"><img
            class="lj-lazy"
            src="https://image1.ljcdn.com/410100-inspection/test-2efb4f02-4465-4291-a646-691d4d877890.png.296x216.jpg"
            alt="第一大街水月湾 3室2厅 365万" style="display: block;"></a>
        <div class="info clear">
            <div class="title"><a class="" href="https://zz.lianjia.com/ershoufang/104102110958.html" target="_blank"
                                  >第一大街水月湾 3 室 2 厅 365 万</a><!-- 拆分标签 --><span class="new tagBlock">新上</span>
            </div>
            <div class="address">
                <div class="houseInfo"><span class="houseIcon"></span><a
                        href="https://zz.lianjia.com/xiaoqu/3320024406906763/" target="_blank"
                >第一大街水月湾 </a> | 3 室 2 厅 | 136 平米 | 南 北 | 简装
                </div>
            </div>
            <div class="flood">
                <div class="positionInfo"><span class="positionIcon"></span>中楼层 (共 5 层) 板塔结合 - <a
                        href="https://zz.lianjia.com/ershoufang/tianfulu/" target="_blank">天赋路</a></div>
            </div>
            <div class="priceInfo">
                <div class="totalPrice"><span>365</span> 万</div>
                <div class="unitPrice" ><span>单价 26839 元 / 平米</span>
                </div>
            </div>
        </div>
        <div class="listButtonContainer">
            <div class="btn-follow followBtn" ><span class="follow-text">关注</span></div>
        </div>
    </li>

</ul>
</body>
</html>